:root {
  --primary_button: ##166fe5;
  --secondary_btn: #23d2e2;
  --secondary_color: #73bc73;
  --basic_black: #181828;
  --text_color: #1c1e21;
  --main_color: #615dfa;
  --rare_color: #45437f;
  --regular_color: #fff;
  --subtext_color: #afb0c0;
  --page_color: #f7f7fb;
}

h1 {
  color: var(--main_color);
}
